BODY, H1, H2, H3, H4, P, UL, OL, DL, LI, DT, DD, TH, TD, 
I, B, EM, STRONG
{ 
    font-family: sans-serif; 
    color: black;
    background: #FFE7B7;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
body {
    width: 95%;
    margin: 0 auto;
}
A:link { color: #0000FF; }        /* new link, blue */
A:visited { color: #CC00CC; }     /* visited link, violet */
A:hover { color: #CC9900; }       /* hover, gold */
A:active { color: #FF0000; }      /* active, red */
.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}
/** For Blog Posts */
.post-header { margin-bottom: 30px; }
.post-title { font-size: 30px; }
